/* minimal css reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #C3B7BC;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 800px;
  margin: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.intro-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.intro {
  padding: 1em;
  font-family: "Open Sans", sans-serif;
}

.intro-smallTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  align-self: flex-start;
}

.intro-text {
  font-family: "Open Sans", sans-serif;
}

.tube-section {
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  font-size: 1em;
}

.tube-line-ul {
  display: flex;
  flex-direction: column;
}

.tube-line-li {
  display: flex;
}

.tube-line-name,
.tube-line-status {
  display: flex;
  align-items: center;
  color: white;
  width: 50%;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.tube-line-status {
  color: inherit;
  justify-content: center;
  border: 1px solid green;
  margin-left: 0.5em;
}

.tube-line-shadow {
  color: black;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
}

.line-bakerloo {
  background-color: #894e24;
}

.line-central {
  background-color: #dc241f;
}

.line-circle {
  background-color: #ffce00;
}

.line-district {
  background-color: #007229;
}

.line-hammersmith-city {
  background-color: #d799af;
}

.line-jubilee {
  background-color: #6a7278;
}

.line-metropolitan {
  background-color: #751056;
}

.line-northern {
  background-color: #000000;
}

.line-piccadilly {
  background-color: #0019a8;
}

.line-victoria {
  background-color: #00a0e2;
}

.line-waterloo-city {
  background-color: #76d0bd;
}

.line-bakerloo {
  background-color: #894e24;
}

.tube-good {
  color: green;
}

.tube-minor {
  background-color: orange;
  color: black;
  border: none;
}

.tube-severe,
.tube-part {
  background-color: #dc241f;
  color: white;
  border: none;
}

.tube-reason {
  overflow-y: hidden;
}

.reason-text {
  padding: 0.5em;
}

.tube-shrunk-reason {
  border: none;
  max-height: 0;
}

.meme-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.sentence {
  position: absolute;
  width: 100%;

}

.sentence p {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1em;
  -webkit-text-stroke: 0.1rem #000;
  text-align: center;
  max-width: 100%;
}

.image {
  background-size: cover;
  border-radius: 1rem;
}

@media only screen and (min-width: 600px) {
  .tube-section {
    max-width: 800px;
  }
 
}

@media only screen and (min-width: 900px) {
  body {
    padding: 2rem;
  }

  section {
    max-width: 400px;
  }

  .tube-section {
    max-width: 400px;
  }
}
